<%= form_for(@posting) do |f| %>
  <% if @posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@posting.errors.count, "error") %> prohibited this posting from being saved:</h2>

      <ul>
      <% @posting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Sandwich Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.select :price, [["1.00",1],["1.50",1.50],["2.00",2], ["2.50", 2.5],
                          ["3.00",3],["3.50",3.50],["4.00",4], ["4.50", 4.5],
                          ["5.00",5],["5.50",5.50],["6.00",6], ["6.50", 6.5],
                          ["7.00",7],["7.50",7.50],["8.00",8], ["8.50", 8.5],
                          ["9.00",9],["9.50",9.50],["10.00",10],["10.50", 10.50],]%>
  </div>
  <div class="field">
    <%= f.label "Street Address" %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label "City" %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label "State" %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label "Country" %><br>
    <%= f.text_field :country %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
