<!DOCTYPE html>
<html>
<head>
  <title>Lazy Sandwich</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/png" href="https://33.media.tumblr.com/avatar_01ed0e47dd81_128.png" />
</head>
<body>

<%= render 'shared/navigation' %>

<div id="wrapper">

 <div id="main-container" class="container">
 	<div class="row">
        <div class="col-xs-12">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
          <% end -%>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <img src = https://33.media.tumblr.com/avatar_01ed0e47dd81_128.png alt = 'sandwich' />
          <% if user_signed_in? %>
            <p><h4>Welcome </h4><%= "#{current_user.email}" %></p>
		      <% end %>

        </div>
        
        <div class="col-xs-9">
         <main id="content">
			<%= yield %>
		</main>
        </div>
      </div>
    </div>

</div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; Underground Railsroad 2016</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
