<nav class="navbar navbar-default" role="navigation" style="background-color:lightblue;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><font color="black">Lazy Sandwich</font></a>
    </div>

<% if user_signed_in? -%>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Postings', postings_path,'data-no-turbolink' => true %></li>
    <li><%= link_to 'Orders', transactions_path,'data-no-turbolink' => true %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete,'data-no-turbolink' => true %></li>
  </ul>
<% else -%>
  <ul class="nav navbar-nav pull-right">
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <li><%= link_to 'Log in', new_user_session_path %></li>
  </ul>
<% end -%>

  </div>
</nav>
