<h1>Editing Posting</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to 'Show', @posting, 'data-no-turbolink' => true, class: 'btn btn-default' %> |
<%= link_to 'Back', postings_path, 'data-no-turbolink' => true, class: 'btn btn-default' %>
=======
<%= link_to 'Show', @posting %> |
<%= link_to 'Back', postings_path %>
>>>>>>> Added the demo project
