<p id="notice"><%= notice %></p>
<% @transaction = Transaction.find(params[:id])%>
<table class = "table">
  <thead>
    <tr>
      <th>Order number<th>
      <th>Customer email</th>
      <th>Producer email</th>
      <th>Address</th>
      <th>Price</th>
      <th>Order Time<th>
    </tr>
  </thead>

  <tbody>
     <tr class = "active">     
       <td><%= @transaction.id %></td>
       <td></td>
       <td><%= @transaction.user.email %></td>
       <td><%= @transaction.producer %></td>
       <td><%= @transaction.street %>, <%= @transaction.city %></td>
       <td><%= @transaction.price %></td>
       <% time = Time.parse(@transaction.created_at.to_s) %>
       
       <td><%=  time.in_time_zone("Pacific Time (US & Canada)").strftime("%Y-%m-%d %I:%M:%S %p  %Z") %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Back', transactions_path %>
