<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'List of Sandwiches', products_path %></li>
  <li><%= link_to 'New Sandwich', new_product_path %></li>
  <li><%= link_to 'Nearby Requests', requests_list_path, 'data-no-turbolink' => true %></li>
  <li class="active"><%= link_to 'Pending', requests_transactions_path %></li>
</ul>

<h1>Pending Transactions</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Consumer</th>
      <th>Name</th>
      <th>Ingredients</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.consumer %></td>
        <td><%= request.name %></td>
        <td><%= request.ingredients %></td>
        <td><%= request.location %></td>
        <th><%= link_to requests_confirm_path, class: 'btn btn-success' do %>
          <i class="glyphicon glyphicon-plus"></i> Confirm
        <% end %></th>
        <th><button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-minus"></i> Cancel</button></th>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to requests_path, class: 'btn btn-primary' do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Back
<% end %>
