<%= div_for(review) do %>
	<div class="reviews_wrapper clearfix">
		<div class="pull-left">
			<p class="lead"><strong><%=review.user.email %></strong> says </p>
			<p class="lead"><%= review.content %></p>
			<p class="text-left"><font size="3"><strong><%= review.rating %>/5</strong></font></p>
			<p><font size="1">Submitted on<strong> <%= review.created_at.strftime("%Y-%m-%d") %></strong></font></p>
		</div>

		<div class="btn-group pull-right">
			<% if review.user == current_user -%>
				<%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
			<% end %>
		</div>
	</div>
<% end %>